sudo: required

services:
  - docker

language: script

env:
  global:
     CF_TARGET_URL="https://api.ng.bluemix.net"
     DOCKER_TAG=watson-conversation-simple:""$TRAVIS_BRANCH"

script:
  - docker build -t "$DOCKER_TAG" .

after-script:
  - docker images

before_deploy:
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASSWORD"
  - docker tag "watson-conversation-simple:$TRAVIS_BRANCH" "adamkingit/watson-conversation-simple:$TRAVIS_BRANCH"
  - docker push "adamkingit/watson-conversation-simple:$TRAVIS_BRANCH"

deploy:
  - provider: script
    skip_cleanup: true
    script: ./deploy_rollup.sh
    on:
      branch: master
